{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nata&#x1F4AF; | Dashboard (Profe)</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
Tus datos: <br>
Nombre: {{ username }}<br>
E-mail: {{ email }}<br>
Fecha de nacimiento: {{ nacimiento }}<br>
Región: {{ region }}<br>
Comuna: {{ comuna }}<br>
Alumnes asociades:<br>
<ul>
    {% for alumne in alumnes %}
    <li> {{ alumne.username }}</li>
    {% endfor %}
</ul>

<br>

<a href="{% url 'modo_recreativo' %}">Acceder al modo recreativo</a><br>

<a href="{% url 'marca_profe' %}">Ingresa una marca</a><br>

<br>
Revisa un ránking:

<form action="{% url 'ranking_select' %}" method="post">
    {% csrf_token %}
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body ml-3" style="font-size: 18px">
                <div class="md-form mb-2">
                    <input type="radio" id="comunal" name="tipo" value="comunal">
                    <label for="comunal">Comunal</label><br>
                    <input type="radio" id="regional" name="tipo" value="regional">
                    <label for="regional">Regional</label><br>
                    <input type="radio" id="nacional" name="tipo" value="nacional">
                    <label for="nacional">Nacional</label><br>
                    <input type="radio" id="amigues" name="tipo" value="amigues">
                    <label for="amigues">Amigues</label><br>
                </div>

                <div class="md-form mb-2">
                    <i class="fas fa-envelope prefix grey-text"></i>
                    <label for="regiones">Región</label>
                    <select id="regiones" name="regiones"></select>
                </div>

                <div class="md-form mb-2">
                    <i class="fas fa-envelope prefix grey-text"></i>
                    <label for="comunas">Comuna</label>
                    <select id="comunas" name="comunas"></select>
                </div>

            </div>

            <div class="modal-footer d-flex justify-content-center">
                <button type="submit" class="btn form-btn px-5">Consultar</button>
            </div>
        </div>
    </div>
</form>

<a href="{% url 'formulario_profe' %}">Modificar tu información</a><br>
<a href="{% url 'logout' %}">Cerrar sesión</a><br>
<script src="{% static 'script-comunas.js' %}"></script>
</body>
</html>