<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nata&#x1F4AF; &#x1F3CA; | Formulario de Alumne </title>
</head>
<body>
¡Bienvenid@ a Nata100! Contesta las siguientes preguntas para completar tu perfil.

<form action="{% url 'formulario' %}" method="post">
    {% csrf_token %}
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body ml-3" style="font-size: 18px">
                    <div class="md-form mb-2">
                        <i class="fas fa-user prefix grey-text"></i>
                        <label for="nacimiento">Fecha de nacimiento</label>
                        <input type="date" id="nacimiento" name="nacimiento" class="form-control validate form-textbox">
                    </div>

                    <div class="md-form mb-2">
                        <i class="fas fa-envelope prefix grey-text"></i>
                        <label for="region">Región</label>
                        <select id="region" name="region">
                            <option value="0">Sin seleccionar</option>
                            <option value="15">XV Arica y Parinacota</option>
                            <option value="1">I Tarapacá</option>
                            <option value="2">II Antofagasta</option>
                            <option value="3">III Atacama</option>
                            <option value="4">IV Coquimbo</option>
                            <option value="5">V Valparaíso</option>
                            <option value="13">RM Metropolitana de Santiago</option>
                            <option value="6">VI Libertador General Bernardo O'Higgins</option>
                            <option value="7">VII Maule</option>
                            <option value="16">XVI Ñuble</option>
                            <option value="8">VIII Biobío</option>
                            <option value="9">IX Araucanía</option>
                            <option value="14">XIV Los Ríos</option>
                            <option value="10">X Los Lagos</option>
                            <option value="11">XI Aysén del General Carlos Ibáñez del Campo</option>
                            <option value="12">XII Magallanes y la Antártica Chilena</option>
                        </select>
                    </div>

                    <div class="md-form mb-2">
                        <i class="fas fa-envelope prefix grey-text"></i>
                        <label for="region">Comuna</label>
                        <select id="region" name="region">
                            <option value="0">Sin seleccionar</option>
                            <option value="1">Alhué</option>
                            <option value="2">Buin</option>
                            <option value="3">Calera de Tango</option>
                            <option value="4">Cerrillos</option>
                            <option value="5">Cerro Navia</option>
                            <option value="6">Colina</option>
                            <option value="7">Conchalí</option>
                            <option value="8">Curacaví</option>
                            <option value="9">El Bosque</option>
                            <option value="10">Estación Central</option>
                            <option value="11">Huechuraba</option>
                            <option value="12">Independencia</option>
                            <option value="13">La Cisterna</option>
                            <option value="14">La Florida</option>
                            <option value="15">La Granja</option>
                            <option value="16">La Pintana</option>
                            <option value="17">La Reina</option>
                            <option value="18">Lampa</option>
                            <option value="19">Las Condes</option>
                            <option value="20">Lo Barnechea</option>
                            <option value="21">Lo Espejo</option>
                            <option value="22">Lo Prado</option>
                            <option value="23">Macul</option>
                            <option value="24">Maipú</option>
                            <option value="25">María Pinto</option>
                            <option value="26">Melipilla</option>
                            <option value="27">Ñuñoa</option>
                            <option value="28">Paine</option>
                            <option value="29">Pedro Aguirre Cerda</option>
                            <option value="30">Peñalolén</option
                            <option value="31">Pirque</option>>
                            <option value="32">Providencia</option>
                            <option value="33">Puente Alto</option>
                            <option value="34">Pudahuel</option>
                            <option value="35">Quilicura</option>
                            <option value="36">Quinta Normal</option>
                            <option value="37">Recoleta</option>
                            <option value="38">Renca</option>
                            <option value="39">San Bernardo</option>
                            <option value="40">San Joaquín</option>
                            <option value="41">San José de Maipo</option>
                            <option value="42">San Miguel</option>
                            <option value="43">San Pedro</option>
                            <option value="44">San Ramón</option>
                            <option value="45">Santiago</option>
                            <option value="46">Talagante</option>
                            <option value="47">Til-Til</option>
                            <option value="48">Vitacura</option>
                        </select>
                    </div>

                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button type="submit" class="btn form-btn px-5">Crear cuenta</button>
                </div>
            </div>
        </div>
</form>

</body>
</html>