{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nata&#x1F4AF; | Modo recreativo (Profe)</title>
</head>
<body>

A continuación puedes escribirle un comentario a une alumne.

<form action="{% url 'comentario_post' %}" method="post">
    {% csrf_token %}
    <label for="texto">Comentario:</label>
    <input type="text" id="texto" name="texto"><br><br>
    Selecciona une alumne: <br>
    {% for alumne in alumne_list %}
        <input type="radio" name="alumne" id="alumne{{ forloop.counter }}" value="{{ alumne.username }}">
        <label for="alumne{{ forloop.counter }}">{{ alumne.username }}</label><br>
    {% endfor %}
    <label for="fecha">Selecciona la fecha que asociar al comentario<br></label>
    <input type="date" id="fecha" name="fecha"><br>
    <button type="submit">Continuar</button>
</form>


A continuación puedes ver los comentarios que has dejado.
{% if comentarios %}
    <ul>
    {% for comentario in comentarios %}
        <li>{{ comentario.to_str_prof }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No has registrado comentarios.</p>
{% endif %}

</body>
</html>